*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    text-decoration: none;
    letter-spacing: 0.02em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    --basic-black: #2E2F42;
    --wight: #F4F4FD;
    --blue: #4D5AE5;
    --ocean: #404BBF;
    --wight-button: #FFFFFF;
    --gray: #434455;
    --wight-footer-text: #E7E9FC;
}

.container {
    width: 1158px;
}

.black {
    color: var(--basic-black);
}

.wight {
    color: var(--wight);
}

.logo {
    margin-right: 76px;
    color: var(--blue);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
}

.navig-row, 
.contakts-row,
.nav-row, 
.header-row  {
    display: flex;
}

.header-row {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    /* left: 0px;
    top: 0px; */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--wight-footer-text);
}

.navig-row {
    margin-right: 332px;
}

.navig {
    color: var(--basic-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.navig-offset {
    margin-right: 40px;
}

.contacts-offset {
    margin-right: 40px;
}

.navig:hover,
.navig:focus {
    color: var(--ocean);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.contakts {
    color: var(--gray);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contakts:hover,
.contakts:focus {
    color: var(--ocean);
}

.section-order {
    padding-top: 188px;
    padding-bottom: 188px;
    background: var(--basic-black);
}

.title-h1 {
    text-align: center;
    text-decoration: none;
    color: var(--wight-button);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
}


.button-order {
    margin: 0 auto;
    display: block;
    margin-top: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    color: var(--wight-button);
    background-color: var(--blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-color: var(--blue);
    border-radius: 4px;
}

.button-order:hover,
.betton-order:focus {
    color: var(--wight-button);    
    background-color: var(--ocean);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.our-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-advantages-row {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.our-advantages-offset {
    margin-right: 24px;
}

.title-h2 {
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;           
}

.invisible {
    display: none;
    /* visibility: hidden; */
}

.doing-row {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 72px;
    margin-bottom: 120px;
}

.doing-offset {
    margin-right: 24px;
}
.title-h3 {
    color: var(--basic-black);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.text {
    width: 264px;
    color: var(--gray);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.profession {
    color: var(--gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* text-align: center; */
    letter-spacing: 0.02em;
}

.footer {
    background-color: var(--basic-black);
}

.text-footer {
    color: var(--wight-footer-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.title {
    color: var(--basic-black);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.unline {
   text-decoration: none;
}

.button-filter {
    display: flex;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 72px;
}

.button-filter-row {
    display: flex;

}
.button {
    padding-left: 24px;
    padding-right: 24px;  
    padding-top: 12px; 
    padding-bottom: 12px; 
    color: var(--blue); 
    background-color: var(--wight);  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

/* .button-filter-row button:not(:last-child) {
    margin-right: 24px;
} */

.offset {
    margin-right: 24px;
}

.button:hover,
.button:focus {
    color: var(--wight-button);    
    background-color: var(--blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.filter {
    color: var(--gray);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
